/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04.apr.2016, 19:59:02
    Author     : stianreistadrogeberg
*/

#bottomBox {
    -fx-background-color: #eaeaea;
}

#leftBox {
    -fx-background-color: #eaeaea;
}