.root {
    -fx-background-color: black
}

.button {
    -fx-color: #4169E1;
    -fx-text-fill: #202020;
}

#menuBar {
    -fx-background-color: #202020;
}

#vboxRight {
    -fx-background-color: #202020;
}

#colors {
    -fx-text-fill: FFFAFA;
}

#text {
    -fx-text-fill: #FAF0E6;
}

/* alle colorpickers */
#picker {
    -fx-background-color: #00FF00;
    
}

#bottom {
    -fx-background-color: #202020;
}

#combobox {
    -fx-color: #4169E1;
}

#fitToView {
    -fx-graphic: url('/View/arrows.png');
}

#fitToView:selected {
    -fx-graphic: url('/View/arrows.png');
}
