.root {
    -fx-background-color: #e35e68;
}

.axis { 
    -fx-tick-label-fill: #111111;
    -fx-text-fill: #111111;
}


.chart-title {
    -fx-text-fill: #111111;
    -fx-font-weight: bold;
}

.chart-legend {
    -fx-background-color: #3278fa;
}

.chart-legend-item-symbol{
   -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #111111;
}

.chart-plot-background {
    -fx-background-color: #e2ecfe;
}